.sec-BoughtTogether {
   text-align: center;
}

@media screen and (min-width: 750px) {
    .sec-BoughtTogether {
        text-align: left;
    }
}

.sec-BoughtTogether__inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #E8E8E8;
}

.sec-BoughtTogether__items {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    .sec-BoughtTogether__items {
        flex-direction: row;
    }
}

.sec-BoughtTogether__item {
    display: flex;
    flex-direction: row;
    padding: 0 6px;
    width: 100%
}

@media screen and (min-width: 750px) {
    .sec-BoughtTogether__item {
        width: 40%;
    }
}

@media screen and (min-width: 750px) {
    .sec-BoughtTogether__item {
        flex-direction: column;
        align-items: flex-start;
    }
}

.sec-BoughtTogether__itemCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
}

@media screen and (min-width: 750px) {
    .sec-BoughtTogether__itemCenter {
        width: 20%;
    }
}

.sec-BoughtTogether__itemContent {
    text-align: left;
}

.sec-BoughtTogether__itemImage {
    margin: 0 auto;
}

.sec-BoughtTogether__image {
    object-fit: contain;
    max-width: 120px;
    height: auto;
}

.sec-BoughtTogether__itemTitle {
    letter-spacing: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.sec-BoughtTogether__itemPrice {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
}

.sec-BoughtTogether__buttonWrapper {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}